* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2px;
}
.all-content {
  width:1000px;
  margin:auto;
}

::selection {
  background-color: #ff3300;
  color: white;
}
html {
  scroll-behavior: smooth;
}
.orange {
  color: #ff3300;
}
header {
  position: relative;
  background: #e6e6e6;
  overflow: hidden;
}
header .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../img/wave.png");
  background-size: 1000px 100px;
}
header .wave.wave1 {
  animation: animate 20s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
header .wave.wave2 {
  animation: animate2 5s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
header .wave.wave3 {
  animation: animate3 10s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
header .wave.wave4 {
  animation: animate4 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 25px;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
nav .container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
nav .logo img {
  width: 50%;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  display: flex;
  align-self: center;
}
nav ul li {
  display: flex;
}
nav ul li a:link {
  color: #1a1a1a;
  font-size: 17px;
  text-decoration: none;
  position: relative;
  padding: 8px 20px;
}
nav ul li a:hover {
  color: #ff3300;
  text-decoration: none;
}
nav ul li a:visited {
  color: #ff3350;
}
nav ul li a:active {
  color:black;
}
nav ul li a span {
  display: block;
  position: absolute;
  background: #ff3300;
}
nav ul li a span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: 1s;
}
nav a:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: 1s;
}
nav ul li a span:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: 1s;
}
nav a:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: 1s;
}
nav ul li a span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: 1s;
}
nav a:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: 1s;
}
nav ul li a span:nth-child(4) {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: top;
  transition: 1s;
}
nav a:hover span:nth-child(4) {
  transform: scaleX(1);
  transform-origin: bottom;
  transition: 1s;
}
nav .logo h1 {
  font-size: 38px;
  font-weight: bold;
  color: #1a1a1a;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 8rem;
}
header .header-text {
  width: 40%;
  display: flex;
  align-self: center;
  flex-direction: column;
  color: #1a1a1a;
}
header .header-text h1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
header .header-text h3 {
  margin-bottom: 1rem;
  font-size: 20px;
}
header .header-text > a {
  background: #ff3300;
  padding: 8px 30px;
  text-decoration: none;
  border-radius: 15px;
  margin-top: 1rem;
  color: white;
  border: 2px solid #ff3300;
  width: fit-content;
}
header .header-text > i:hover {
  background: #ff471a;
}
header .header-text i {
  opacity: 0;
  font-size: 16px;
  color: white;
  will-change: transform;
  transition: all 0.3s ease;
}
.btn_wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 240px;
  background-color: #ff3300;
  border-radius: 20px;
  padding: 10px 30px;
  will-change: transform;
  transition: all 0.2s ease-in-out;
}
.btn_wrap:hover {
  transform: scale(1.1);
}
.btn_wrap span {
  position: absolute;
  z-index: 99;
  border-radius: 15px;
  font-size: 19px;
  text-align: center;
  color: white;
  background-color: #ff3300;
  transition: all 1.2s ease;
}
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  width: 240px;
}
.btn_wrap:hover .icons a:nth-of-type(1),
.btn_wrap:hover .icons a:nth-of-type(1) i {
  transition-delay: 0.9s;
}
.btn_wrap:hover .icons a:nth-of-type(2),
.btn_wrap:hover .icons a:nth-of-type(2) i {
  transition-delay: 0.7s;
}
.btn_wrap:hover .icons a:nth-of-type(3),
.btn_wrap:hover .icons a:nth-of-type(3) i {
  transition-delay: 0.4s;
}
.btn_wrap:hover span {
  transition-delay: 0.25s;
  transform: translateX(-280px);
}
.btn_wrap:hover i {
  opacity: 1;
  transform: scale(1);
}

header .svg {
  width: 55%;
}
header .svg img {
  width: 80%;
  float: right;
}

/* Header Style*/

.about-me,
.contact {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 3rem;
  border-radius: 10px;
}
.about-me > div,
.contact > div {
  width: 50%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.about-me img,
.contact img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.about-me .about-text {
  padding: 30px 40px;
  border: 1px solid #e6e6e6;
}
.about-me .about-text h3 {
  color: #ff3300;
  font-weight: bold;
  font-size: 19px;
}
.about-me .about-text h1 {
  font-size: 28px;
  color: #1a1a1a;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.about-me .about-text p {
  line-height: 28px;
  font-size: 17px;
  color: #1a1a1a;
  margin-bottom: 2rem;
}
.about-me .about-text a {
  padding: 10px 30px;
  color: white;
  background: #ff3300;
  text-decoration: none;
  margin-top: 1rem;
  border-radius: 15px;
}
/* About me Style */

.services-container {
  width: 100%;
  margin: auto;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  text-align: center;
}
.services-container > div {
  padding: 20px 30px;
  background: #f2f2f2;
  border-radius: 40px;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
    6px 6px 20px rgba(0, 0, 0, 0.1);
}
.services-container > div:hover {
  box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5),
    inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}
.services-container img {
  width: 130px;
  height: 110px;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}
.services-container h1 {
  color: #1a1a1a;
  font-size: 28px;
}
.services-container p {
  font-size: 17px;
  color: #1a1a1a;
  line-height: 31px;
}

/* Services Style */

.invest {
  margin-top: 6rem;
  color: white;
}
.invest-container {
  width: 80%;
  margin: auto;
  padding-top: 7rem;
  display: flex;
  justify-content: space-between;
}
.invest-container > div {
  width: 50%;
}
.invest-container h1 {
  font-size: 40px;
  margin-bottom: 1rem;
  letter-spacing: 0.8px;
}
.invest-container p {
  line-height: 31px;
  margin-bottom: 2rem;
  width: 75%;
}
.invest-container a {
  background-color: white;
  padding: 10px 30px;
  text-decoration: none;
  color: #ff3300;
  border-radius: 15px;
  font-weight: 700;
}
a:hover {
  position: relative;
  top: -2px;
}
.invest-svg img {
  width: 80%;
}
.kind > h1 {
  letter-spacing: 0.5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.highlight {
  color: #ff3300;
}
.slick-prev::before {
  font-size: 25px;
}
.autoplay {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}
.slick-track > div {
  background: #ff3300;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin: auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 1.5rem;
  height: 300px;
}
.slick-track > div span {
  height: 100%;
  position: absolute;
  left: 0;
  transition: 1.5s;
}
.markets span {
  background: url(../img/kinds/market.jpg) no-repeat;
  background-size: cover;
}
.fast-food span {
  background: url(../img/kinds/fast-food.jpg) no-repeat;
  background-size: cover;
}
.interior span {
  background: url(../img/kinds/interior.jpg) no-repeat;
  background-size: cover;
}
.cafetaria span {
  background: url(../img/kinds/cafetaria.jpg) no-repeat;
  background-size: cover;
}
.sweet-shop span {
  background: url(../img/kinds/sweet-shop.jpg) no-repeat;
  background-size: cover;
}
.fashion span {
  background: url(../img/kinds/fashion.jpg) no-repeat;
  background-size: cover;
}
.travel-agency span {
  background: url(../img/kinds/travel-agency.jpeg) no-repeat;
  background-size: cover;
}
.slick-track > div span:nth-child(1) {
  z-index: 10;
  width: 25%;
  transition-delay: 0;
}
.slick-track > div span:nth-child(2) {
  z-index: 9;
  width: 50%;
  transition-delay: 0.3;
}
.slick-track > div span:nth-child(3) {
  z-index: 8;
  width: 75%;
  transition-delay: 0.6s;
}
.slick-track > div span:nth-child(4) {
  z-index: 7;
  width: 100%;
  transition-delay: 0.8s;
}
.slick-track > div:hover span {
  transform: translateY(-100%);
  transition: 1s;
}
.slick-track > div:hover span:nth-child(1) {
  transition-delay: 0.8s;
}
.slick-track > div:hover span:nth-child(2) {
  transition-delay: 0.6s;
}
.slick-track > div:hover span:nth-child(3) {
  transition-delay: 0.3s;
}
.slick-track > div:hover span:nth-child(4) {
  transition-delay: 0s;
}
.slick-track > div:focus {
  outline: none;
}
.slick-arrow:before {
  color: #ff3300 !important;
}
.slick-prev:before {
  position: relative;
  right: 10px;
}
.slick-next:before {
  margin-left: 1rem;
}
.content {
  color: white;
  text-align: Center;
  padding: 80px 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: 2s;
}
.content h1 {
  margin-bottom: 1.5rem;
}
.content p {
  color: white;
  width: 90%;
  margin: auto;
  letter-spacing: 0.5px;
  line-height: 28px;
}
.slick-track > div:hover .content {
  transform: translateY(0);
}
.skills {
  margin-bottom: 5rem;
}
.skills > h1 {
  text-align: center;
  margin-top: 6rem;
}
.skills-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
}
.info {
  width: 50%;
}
.skills img {
  width: 80%;
  display: block;
  margin: auto;
}
.skills-container span {
  width: 250px;
  height: 7px;
  display: block;
  background-color: #ff3300;
  border-radius: 25px;
}
.skills-progress {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.skills-progress > div {
  width: 40%;
}
.skills-progress h4 {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.progress-bar {
  background: #ff3300;
}
.border {
  display: flex;
  border: none !important;
}
.border > div {
  height: 30%;
  width: 3px;
  background: #cccccc;
  margin-left: 1rem;
  margin-right: 4rem;
  display: flex;
  align-self: Center;
}
footer {
  margin-top: 7rem;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 3rem;
}
.footer-container > div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer p {
  text-align: center;
}
.footer1 img {
  width: 200px;
  margin-bottom: 1rem;
}
.footer1 p {
  color: #666;
  letter-spacing: 0.3px;
  line-height: 30px;
  font-size: 17px;
}
.footer2 h1 {
  font-size: 28px;
  letter-spacing: 2px;
  color: #1a1a1a;
}
.footer2 ul {
  list-style: none;
}
.footer2 ul li {
  font-size: 17px;
  line-height: 35px;
}
.footer2 ul li a {
  color: #666;
  border-left: 4px solid #ff3300;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}
.footer2 ul li a:hover {
  text-decoration-color: #ff3300;
}
.footer3 h1 {
  font-size: 28px;
  letter-spacing: 2px;
  color: #1a1a1a;
}
.footer3 p {
  color: #666;
  letter-spacing: 0.3px;
  line-height: 30px;
  font-size: 17px;
}
.footer3 .email {
  display: flex;
}
.footer3 input {
  border: none;
  border: 1px solid #b3b3b3;
  border-left: 4px solid #ff3300;
  padding: 4px 20px;
}
.footer3 input:focus {
  outline: none;
  box-shadow: 1px 1px 5px #ff3300;
}

.footer3 i {
  position: relative;
  background: #ff3300;
  padding: 8px 20px;
  left: -5px;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 5px #ff3300;
  height: 100%;
}
.footer3 i:hover {
  background: white;
  color: #ff3300;
  transition: 0.5s;
}
.pre-footer {
  background: #ff3300;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.pre-footer p {
  color: white;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 576px) {
  .all-content {
    width: 100%;
  }
  nav .container {
    display: block;
  }
  nav .logo img {
    width: 35%;
    display: block;
    margin: 1rem auto;
  }
  nav ul li a span {
    display: none;
  }
  nav ul li a:link {
    font-size: 15px;
    padding:0;
  }
  header .header-text {
    width: 100%;
    text-align: center;
  }
  .btn_wrap {
    margin: auto;
    padding: 6px 20px;
  }
  .about-me, .contact {
    width: 90%;
    margin: auto;
    display: block;
  }
  .about-me > div, .contact > div {
    width: 100%;
  }
  .about-me .about-text {
    text-align: center;
  }
  .about-me .about-text h3 {
    font-size: 16px;
  }
  .about-me .about-text h1 {
    font-size: 25px;
  }
  .about-me .about-text p {
    font-size: 15px;
  }
  .services-container {
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
    margin-top: 3rem;
  }
  .invest-container {
    display: block;
    text-align: center;
  }
  .invest-container h1 {
    font-size: 30px;
  }
  .invest-container p {
    font-size: 15px;
  }
  .invest-container > div {
    width: 100%;
  }
  .invest-container p {
    width: 100%;
  }
  .invest-svg {
    display: none;
  }
  .invest-svg svg {
    top:4rem!important;
  }
  .kind > h1 {
    font-size: 25px;
  }
  .autoplay {
    width: 60%;
    margin: auto;
  }
  .skills-container {
    display: block;
  }
  .info {
    width: 100%;
  }
  .skills > h1 {
    font-size: 25px;
  }
  .skills-progress {
    display: block;
    width: 100%;
  }
  .skills-progress > div {
    width: 60%;
    margin: auto;
    margin-top: 3rem;
  }
  .skills-progress h4 {
    font-size: 20px;
  }
  .footer-container {
    display: block;
    width: 80%;
    margin: auto;
  }
  .footer-container > div {
    width: 100%;
  }
  .footer1 p {
    font-size: 15px;
  }
  .footer2 h1 {
    font-size: 25px;
  }
  .footer2 ul li {
    font-size: 15px;
  }
  .footer3 h1 {
    font-size: 25px;
  }
  .footer3 p {
    font-size: 15px;
  }
  .footer3 input {
    padding:3px 20px;
  }
  .pre-footer p {
    font-size: 13px;
  }
  header .header-container {
    display:block;
    padding-top: 5rem;
    padding-bottom: 12rem;
  }
  .svg {
    display: none;
  }
  .about-me .contact {
    display: block;
    width: 90%;
    margin: auto;
  }
}